<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Login.css">
    <title>Admin Login</title>
</head>
<body>
    <div class="container">
        <h2>Student</h2>
        <form action="/AdminDashBoard">
            <label>Email Address</label>
            <input type="email" name="email" placeholder="Enter email">
            <label>Password</label>
            <input type="password" name="password" placeholder="Enter Password">
            <button classs = "login" id = "login" type="submit">Login</button>
            <a href="/AdminRegister">Sign Up</a>
        </form>
    </div>
</body>
</html>