<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Login.css">
    
    <title>Company Registeration</title>
</head>
<body>
    <div class="container">
        <h2>Company</h2>
        <form action="/company/CompanyRegister" method="post">
            <input type="text" name="name" placeholder="Enter name">
            <input type="number" name="regNo" placeholder="Enter registration number">
            <input type="email" name="email" placeholder="Enter email">
            <input type="password" name="password" placeholder="Enter Password">
            <input type="password" name="confiirm-password" placeholder="Retype Password">
            <button classs = "login" id = "login" type="submit">Register</button>
            <a href="/company/CompanyLogin">Already a user? Sign In</a>
        </form>
    </div>
</body>
</html>