<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/companyDashboard.css">
  <script src="https://kit.fontawesome.com/4800d7071c.js" crossorigin="anonymous"></script>
  <title>Company Dashboard</title>
</head>

<body>
  <div class="navbar">
    <div class="logo">
      <img src="/images/logoPU.jpg" alt="University Logo" width="50" height="50">
    </div>
    <div class="right-item">
      <div class="notification">
        <a href="#notification"><i class="fa-regular fa-bell fa-2x"></i></a>
      </div>
    </div>
  </div>

  <div class="buttons">
    <button onclick="getStudentDetails()">Get Student Details</button>
    <button onclick="openResumeMatcher()">Resume Matcher</button>
  </div>

  <div id="studentDetailsContainer">
    <!-- Student details will be rendered here -->
  </div>

  <script>
    async function getStudentDetails() {
      console.log("Getting student details...");
      const data = await fetch('/student/StudentDetails');
      const student = await data.json();
      console.log(student);
      renderStudentDetails(student);
    }

    function renderStudentDetails(students) {
      const studentDetailsContainer = document.getElementById('studentDetailsContainer');

      // Assuming students is an array of objects
      const detailsHTML = `
        <h2>Student Details</h2>
        <ul>
          ${students.map(student => `
            <li>
              <strong>Email:</strong> ${student.email}<br>
              <strong>Name:</strong> ${student.name}<br>
              <strong>Password:</strong> ${student.password}<br>
              <strong>Registration Number:</strong> ${student.regNo}
            </li>
          `).join('')}
        </ul>
      `;

      studentDetailsContainer.innerHTML = detailsHTML;
    }

    function openResumeMatcher() {
     window.location.href= 'http://localhost:8501/';
    }
    
  </script>
</body>

</html>
