<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Placement Cell</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://kit.fontawesome.com/4800d7071c.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
                    <li><a href="#about"><i class="fa-solid fa-regular fa-address-card"></i>About Us</a></li>
                    <li><a href="#recruiters"><i class="fa-solid fa-suitcase"></i>Recruiters</a></li>
                    <li><a href="#students"><i class="fa-solid fa-user"></i>Students</a></li>
                    <li><a href="#contact"><i class="fa-solid fa-regular fa-address-book"></i>Contact Us</a></li>
                    <li><a href="/mid"><i class="fa-solid fa-file-pen"></i>Register</a></li>
                </ul>
            </nav>
            <img src="/images/logoPU.jpg" alt="University Logo">
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <h1>University Placement Cell</h1>
            <p>Empowering students to build successful careers</p>
        </div>
    </section>
    <div class="voice">
        <div class="vc-img">
            <img src="/images/images.jpeg" alt="Image 1">
        </div>
        <div class="vc-msg">
            <p>Welcome to the Placement Cell of Pondicherry University . your 
                gateway to a world of opportunities and career advancement! At
                 Pondicherry University,
                 we understand the significance of connecting academic excellence with 
                 professional growth. Our Placement Cell serves as a bridge between the vibrant 
                 talents of our students and the dynamic corporate world.
            </p>
            
               <p>
                
                Join us in creating a pathway to success . where education meets opportunity, 
                and dreams transform into fulfilling careers. Pondicherry University Placement Cell:
                 Empowering Dreams, Enabling Futures!
             </p>
        </div>
    </div>

    <section class="about-us" id="about">
        <h2>About Us</h2>
        <div class="about-container">
            <div class="left">
                <img src="images/University.jpg" alt="Image 1">
            </div>
            <div class="right">
                <p>The University Placement Cell is committed to providing comprehensive placement support to our
                    students.
                    We work closely with a wide range of recruiters from various industries to ensure that our students
                    have
                    access to a variety of placement opportunities. We also offer a range of career development services
                    to
                    help our students prepare for the job market.</p>
                    <p>In addition to traditional placements, we actively encourage students to explore
                         internships, research collaborations, and entrepreneurial ventures. This multi-faceted 
                         approach aims to instill a sense of versatility and adaptability in our graduates, making 
                         them well-rounded
                         professionals capable of navigating the complexities of today's workplace.</p>
            </div>
        </div>
    </section>

    <section class="recruiters" id="recruiters">
        <div class="recruiters-container">
            <h2>Recruiters</h2>
             <div class="recruiter-img">
                <img src="images/accenture-logo.png" alt="Recruiters">
                <img src="images/amazon-logo.png" alt="Recruiters">
                <img src="images/american-express-logo.png" alt="Recruiters">
                <img src="images/att-logo.png" alt="Recruiters">
                <img src="images/cisco-logo.png" alt="Recruiters">
                <img src="images/coca-cola-logo.png" alt="Recruiters">
                <img src="images/facebook-logo.png" alt="Recruiters">
                <img src="images/ge-logo.png" alt="Recruiters">
                <img src="images/google-logo.png" alt="Recruiters">
                <img src="images/intel-logo.png" alt="Recruiters">
                <img src="images/loreal-logo.png" alt="Recruiters">
                <img src="images/nike-logo.png" alt="Recruiters">
                <img src="images/louis-vuitton-logo.png" alt="Recruiters">
            </div> 
            <p class="rec-paragraph">We are proud to partner with a large number of leading recruiters from various industries. Our recruiters
                recognize the high quality of our students and are eager to offer them placement opportunities.</p>

                <p class="rec-paragraph">Pondicherry University's Placement Cell is delighted to welcome you to explore dynamic opportunities for collaboration. By partnering with us, you gain access to a talent pool of high-caliber graduates who embody academic excellence, practical proficiency, and a commitment to ethical leadership. 
                    Here's why you should consider engaging with Pondicherry University for your recruitment needs:</p>
            <div class="placement-stat">
                <button class="stat" id="downloadButton" onclick="downloadPDF()">Get Stat</button>
            </div>
        </div>
    </section>

    <section class="students" id="students">
        <div class="container">
            <h2>Students</h2>
        
            <div class="testimonial-container">
                <div class="testimonial">
                    <img src="/images/student3.jpeg" alt="Student 1">
                    <p class="testimonial-name">John Doe</p>
                    <p class="testimonial-field">Computer Science</p>
                    <p class="testimonial-description">Pondicherry University's Placement Cell played a crucial role in shaping my career. The guidance, resources, and opportunities provided were instrumental in securing my dream job. I am grateful for the support received throughout the placement process.</p>
                </div>
                
                <div class="testimonial">
                    <img src="/images/student1.jpeg" alt="Student 2">
                    <p class="testimonial-name">Jane Smith</p>
                    <p class="testimonial-field">Business Management</p>
                    <p class="testimonial-description">I owe my professional success to Pondicherry University's Placement Cell. The industry connections, workshops, and mock interviews helped me build confidence and enhance my skills. It's a fantastic platform for students aspiring to excel in their careers.</p>
                </div>
            
                <div class="testimonial">
                    <img src="/images/student2.jpeg" alt="Student 3">
                    <p class="testimonial-name">Chris Johnson</p>
                    <p class="testimonial-field">Electrical Engineering</p>
                    <p class="testimonial-description">The placement cell at Pondicherry University provided me with invaluable guidance and support during my job search. The collaborative environment, coupled with relevant industry exposure, prepared me well for the challenges in the field of Electrical Engineering.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="contact-us" id="contact">
        <h2>Contact Us</h2>
        <div class="contact">
            <address>
                <div class="add">
                    University Placement Cell<br>
                    <i class="fa-solid fa-building-columns"></i>Pondicherry University<br>
                    <i class="fa-solid fa-address-card"></i>Ponicherry University, Chinna, Kalapet <br>
                    Puducherry 605014<br>
                    <i class="fa-solid fa-phone"></i>Phone: +91-123-456-7890<br>
                    <i class="fa-solid fa-envelope"></i>Email: pondiuni.edu.in
                </div>
            </address>
            <div class="map">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487.79251169466534!2d79.85561266021199!3d12.020091405088696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a536176a1e57959%3A0xf9c2bcf93bd35eba!2sPondicherry%20University!5e0!3m2!1sen!2sin!4v1700575680857!5m2!1sen!2sin"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <p>We are always happy to hear from you. Please feel free to contact us if you have any questions.</p>
    </section>

    <footer>
        <div class="container">
            <p>&copy; Copyright 2023 University Placement Cell. All rights reserved.</p>
        </div>
    </footer>

    <script src="script.js"></script>
    <script src="Js/index.js"></script>
    <script>
        function downloadPDF() {
            // Replace 'path/to/your/file.pdf' with the actual path to your PDF file
            const pdfPath = '/public/PU-Placement-Brochure-31-10-2022.pdf';
    
            // Create an anchor element
            const anchor = document.createElement('a');
            
            // Set the download attribute and href with the PDF path
            anchor.download = 'PU-Placement-Brochure-31-10-2022.pdf';
            anchor.href = pdfPath;
    
            // Append the anchor to the document body
            document.body.appendChild(anchor);
    
            // Trigger a click event on the anchor element
            anchor.click();
    
            // Remove the anchor from the document body
            document.body.removeChild(anchor);
        }
    </script>
    
</body>

</html>