<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centered Dropdown Menu</title>
    <link rel="stylesheet" href="/stylesheets/mid.css">
</head>
<body>

<div class="container">
    <h1>Please select a page to open:</h1>

    <div class="dropdown">
        <select id="page-select">
            <option value="/student/StudentRegister">Student</option>
            <option value="/admin/AdminRegister">Admin</option>
            <option value="/CompanyRegister">Company</option>
        </select>
    </div>

    <button id="submit-button">Submit</button>
</div>

<script src="/javascripts/mid.js"></script>
</body>
</html>
