<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <link rel="stylesheet" href="/stylesheets/companyDashboard.css"> -->
<link rel="stylesheet" href="/stylesheets/Dashboard.css"> 
  <title>Student Details</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo">
      <img src="/images/logoPU.jpg" alt="University Logo" width="50" height="50">
    </div>
    <nav>
      <ul>
        <li><a href="#"><i class="fa-solid fa-gauge-simple-high"></i>Dashboard</a></li>
        <li><a href="#"><i class="fa-solid fa-suitcase"></i>Job</a></li>
        <li class="popup-trigger"><a href="#"><i class="fa-solid fa-share-from-square"></i>Post</a></li>
        <li><a href="StudentDetails"><i class="fa-solid fa-users"></i></i>Students Detail</a></li>
      </ul>
    </nav>
  </div>
  <div class="navbar">
    <div class="search-box">
      <input type="text" placeholder="Search...">
    </div>
    <div class="right-item">
      <div class="notification">
        <a href="#notificaion"><i class="fa-regular fa-bell fa-2x"></i></a>

      </div>
      <div class="profile">
        <img class="profile-img" src="university_logo.png" width="35" height="35">
      </div>
    </div>
  </div>
  <h1>Student Detail</h1>
  <ul>
    <% users.forEach(user => { %>
      <li>
        <h2><%= user.name %></h2>
        <p>Registration Number: <%= user.regNo %></p>
        <p>Email: <%= user.email %></p>
      </li>
    <% }); %>
  </ul>
</body>

</html>
