<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/StudentProfile.css">
  <!-- <link rel="stylesheet" href="/stylesheets/profileButton.css"> -->
  <script src="https://kit.fontawesome.com/4800d7071c.js" crossorigin="anonymous"></script>
  <title>Student Profile</title>
</head>

<body>
  <div class="sidebar">
    <div class="logo">
      <img src="/images/logoPU.jpg" alt="University Logo" width="50" height="50">
    </div>
    <nav>
      <ul>
        <li><a href="#"><i class="fa-solid fa-gauge-simple-high"></i>Dashboard</a></li>
        <li><a href="#"><i class="fa-solid fa-suitcase"></i>Job</a></li>
        <li><a href="/student/StudentProfile"><i class="fa-solid fa-user"></i>Profile</a></li>
        <li><a href="#"><i class="fa-solid fa-regular fa-file"></i>Resume Building</a></li>
      </ul>
    </nav>
  </div>
  <div class="rightdiv">
    <div class="upperDiv">

      <img src="/images/Anjana.jpg" alt="Display picture" width="120" height="150">

    </div>
    <form action="/student/StudentDetail" method="post">
      <h3>Basic Information</h3>
      <div class="container">
        <label for="name">Name</label>
        <input type="text" disabled id="name" placeholder="Your Name">
      </div>
      <div class="horizontal">
        <br>
        <hr>
        <br>
      </div>

      <div class="container">
        <label for="roll">Registration no.</label>
        <input type="text" id="roll" placeholder="Your Registration Number" disabled>
      </div>
      <div class="horizontal">
        <br>
        <hr>
        <br>
      </div>

      <div class="container">
        <label for="gender">Gender</label>
        <select id="gender" disabled>
          <option value="select">Select...</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Others">Other</option>
        </select>
      </div>
      <div class="horizontal">
        <br>
        <hr>
        <br>
      </div>

      <!--..............................Birthday...................................-->
      <div class="container">
        <label for="birthday">Birthday</label>
        <input type="text" id="birthday" disabled>
      </div>
      <div class="horizontal">
        <br>
        <hr>
        <br>
      </div>
      <!--..................................Summary...........................................-->
      <div class="container">
        <label for="summary">Summary</label>
        <textarea id="summary" placeholder="Tell us about yourself (interests, experience, etc.)" disabled></textarea>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <!--..........................website...........................................-->
      <div class="container">
        <label for="website">Website</label>
        <!-- <textarea name="website" id="editableWebsite" disabled></textarea> -->
        <input type="text" id="website" placeholder="Any blogpost Link" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <!--............................Github..............................................-->
      <div class="container">
        <label for="github">Github</label>
        <input type="text" id="github" placeholder="Your Github Link" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <!--...........................LinkedIn...............................................-->
      <div class="container">
        <label for="linkedin">LinkedIn</label>
        <input type="text" id="linkedin" placeholder="Your LinkedIn Link" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
    
      <!--...............................Expirences................................................-->
      <h3>Expierences</h3>
      <div class="container">
        <label for="work">Work</label>
        <input type="text" id="work" placeholder="Your work or expireneces" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <!--....................................Education........................................-->
      <div class="container">
        <label for="education">Education</label>
        <input type="text" id="education" placeholder="Add your education" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <!--.........................................Skills...........................................-->
      <div class="container">
        <label for="skills">Skills</label>
        <input type="text" id="skills" placeholder="Add your skills" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <!--.....................................Acadmic Details.........................................-->
      <h3>Academic Details</h3>
      <div class="container">
        <label for="course">Course</label>
        <input type="text" id="course" placeholder="Academic Detail" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
      <div class="container">
        <label for="cgpa">Overall CGPA</label>
        <input type="text" id="cgpa" placeholder="Your CGPA" disabled>
      </div>
      <div class="horizontal">
        <hr>
      </div>
  </div>

  <!-- ... (your existing HTML code) ... -->

  
  <!-- ... (the rest of your HTML code) ... -->
  
</form>
<div class="buttons">
  <button class="editBtn" id="editBtn" onclick="enableEdit()">Edit</button>
  <button id="saveBtn" onclick="saveChanges()" style="display: none;">Save</button>
  <button id="cancelBtn" onclick="cancelEdit()" style="display: none;">Cancel</button>
</div>
    <script src="/javascripts/StudentProfile.js"></script>
    <!-- <script src="/javascripts/location.js"></script> -->
</body>
</html>