<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Login.css">
    <title>Student Register</title>
</head>
<body>
    <div class="container">
        <h2>Student</h2>
        <form action="/student/StudentRegister" method="post">
            <input for="name" type="text" name="name" placeholder="Enter name">
            <input for="regNo" type="number" name="regNo" placeholder="Enter registration number">
            <input for="email" type="email" name="email" placeholder="Enter email">
            <input for="password" type="password" name="password" placeholder="Enter Password">
            <input for="confirm-password" type="password" name="confiirm-password" placeholder="Retype Password">
            <button classs = "login" id = "login" type="submit">Register</button>
            <a href="/student/StudentLogin">Already a user? Sign In</a>
        </form>
    </div>
</body>
</html>